.heading {
    text-align: center;
    margin: .75rem;
    padding: 1rem;
    background-color:rgb(238, 238, 238);
    font-weight: 350;
    font-size: 3.2rem;
    border-radius: .75rem;
    color: rgb(0, 0, 0);
  }
