.flex-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(121, 146, 172);
    margin-bottom: 1.5rem;
  }
  
  .flex-container > div {
    flex: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 15rem;
    margin: .75rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
  }

  .btn {
    background-color: transparent;
    border-color: transparent;
  }