<div class="flex-container">
  <div class="flex-item">
    <h3>Customers</h3>
    <ul>
      <li>Mike</li>
      <li>James</li>
      <li>Mark</li>
    </ul>
  </div>

  <div class="flex-item">
    <h3>Products</h3>
    <ul>
      <li>Spreadsheets</li>
      <li>List</li>
      <li>Tables</li>
      <li>Charts</li>
    </ul>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <h3>Customer Feedback</h3>
    <ul>
      <li>Feedback 1</li>
      <li>Feedback 2</li>
      <li>Feedback 3</li>
      <li>Feedback 4</li>
    </ul>
  </div>

  <div class="flex-item">
    <h3>Contact info</h3>
    <ul>
      <li>Phone numbers</li>
      <li>Email Address's</li>
      <li>Mailing Address's</li>
    </ul>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <h3>Add Customer</h3>
    Name <input /> <br />
    Phone Number <input /><br />
    Email <input /><br />
    Address <input /><br />
    <button>Add</button>
  </div>

  <div class="flex-item">
    <h3>Contact info</h3>
    <ul>
      <li>Phone numbers</li>
      <li>Email Address's</li>
      <li>Mailing Address's</li>
    </ul>
  </div>
</div>
